main {
    padding: 40px calc(25% - 496px);
    min-height: 100%;
    display: grid;
    grid-template-rows: minmax(50px, max-content) 10fr minmax(10px, max-content);
}
h1 {
    margin: 0;
    margin-bottom: 20px;
}
.posts-container {
    display: grid;
    grid-template-columns: repeat(3, minmax(100px, 1fr));
    gap: 20px;
}