header {
    padding: 40px calc(50% - 500px);
    background-color: #4dd5ff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 80px;
    width: 100%;
    height: 123px;
}
nav {
    display: flex;
    gap: 40px;
    align-items: center;
}
a {
    color: inherit;
    text-decoration: none;
}
nav img {
    height: 24px;
}
