.post {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: rgba(0, 0, 0, 0.85);
    font-size: 14px;
    font-variant: tabular-nums;
    line-height: 1.5715;
    list-style: none;
    font-feature-settings: 'tnum';
    position: relative;
    background: #fff;
    border-radius: 2px;
    display: grid;
    grid-template-rows: minmax(0px, max-content) 10fr minmax(0px, max-content);
    grid-template-columns: minmax(50px, max-content);
}
.post__img {
    /* height: 120%; */
    
    overflow: hidden;
    width: 1000px;
    max-width: 100%;
}
.post__title{
    /* overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;  */
}
.post__text {
    /* overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-weight: bold; */
    font-size: 0.8em;
}
.post__like {
    position: absolute;
    top: 4px;
    right: 4px;
    z-index: 1;
}
.post__title {
    /* overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-weight: bold; */
    font-size: 1.0em;
}
.post__hendler {
    display: flex;
    align-items: flex-start;
    gap: 10px;
    width: 100%;
    overflow: hidden;
}
.post__about {
    color: darkgray;
    font-size: small;
}