.post {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 14px;
    position: relative;
    background: #86d8f1;
    border-radius: 2px;
    cursor: pointer;
}
.post__img>img {
    overflow: hidden;
    width: 1000px;
    max-width: 100%;
    padding: 3px;
    border: #fff;
}
.post__img {
    margin: 0;
    padding: 0;
}
.post__title{
    border-style: solid;
    outline: 20px solid #fff;
}
.post__text {
    margin: 0;
    padding: 0;
    text-overflow: ellipsis;
    outline: #fff;
}
.post__like {
    position: absolute;
    top: 4px;
    right: 4px;
    z-index: 1;
}
.post__title {
    margin: 3px;
    padding: 0;
    font-size: 1.0em;
    padding: 0px 24px;
    outline: #fff;
    border: #fff;
    background-color: #fff;
}
.post__title>h3 {
    margin-left: 3px;
    margin-right: 3px;
    padding: 0;
    border-style: ridge;
}
.post__hendler {
    padding: 24px 24px 10px 24px;
    overflow: hidden;
    box-sizing: content-box;
    color: #fff;
    font-size: 16px;
    text-shadow: rgb(23, 54, 139) 1px 0 10px;;
    outline: #fff;
}
.post__about {
    color: #fff;
    font-size: small;
    text-shadow: rgb(23, 54, 139) 1px 0 10px;
    outline: #fff;
}
.home {
    display: flex;
    justify-content: space-between;
    align-items: baseline
}
