@import "../node_modules/normalize.css/normalize.css";

* {
	box-sizing: inherit;
}
html {
	box-sizing: border-box;
}
body {
	font-family: "Nunito", "Arial", "Helvetica", sans-serif;
}
.search__item {
	padding: 15px calc(50% - 500px);
	font-size: 16px;
}
.logout {
	cursor: pointer;
	display: block;
	padding: 6px 12px;
	border-radius: 8px;
	border: 1px solid;
}
.post_container {
	max-width: 1000px;
	width: 100%;
	margin: 0 auto;
	padding: 0 5px;
}
.postid {
	box-sizing: border-box;
    font-size: 14px;
    line-height: 1.5;
    font-feature-settings: 'tnum';
    background: #86d8f1;
    border-radius: 2px;
    display: grid;
    grid-template-rows: minmax(0px, max-content) 10fr minmax(0px, max-content);
    grid-template-columns: minmax(50px, max-content);
}
.post_row {
	display: grid;
    grid-template-columns: minmax(400px, 600px) minmax(200px, 390px);
    gap: 5px;
    overflow: hidden;
}
.post_img>img {
	max-width: 100%;
    width: 1000px;
    margin: 3px;
}
.info_post {
	display: grid;
    grid-template-columns: auto;
    gap: 5px;
    width: 100%;
    overflow: hidden;
    padding: 10px;
    color: #fff;
    font-size: small;
    text-shadow: rgb(23, 54, 139) 1px 0 10px;
    outline: #fff;
    font-size: 18px;
}
.post_bodi {
    display: grid;
    grid-template-columns: auto;
    color: black;
    text-shadow: none;
	margin-top: 0;
    margin-bottom: 0.5em;
    font-weight: 200;
    margin-top: 20px;
    background-color: #fff;
    padding: 5px;
    margin-left: 3px;
    margin-right: 3px;
    padding: 0;
    border-style: ridge;
}
.posts_addpost {
    display: flex;
    justify-content: space-between;
    align-items: baseline

}
.search__div {
    padding: 0px calc(50% - 500px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 5px;
    font-size: 12px;
}
.button {
    display: flex;
    justify-content: space-between;
    padding-bottom: 5px;
}
.addpostForm {
    margin-left: 3px;
    margin-right: 3px;
    padding: 0;
    border-style: ridge;
}
.addpostP {
    display: flex;
    justify-content: center;
}

.submit-button {
    padding: 7px 0;
}