@import "../node_modules/normalize.css/normalize.css";

* {
	box-sizing: inherit;
}
html {
	box-sizing: border-box;
}
body {
	font-family: "Nunito", "Arial", "Helvetica", sans-serif;
}
.wrap {
	padding: 20px;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 20px;
	grid-template-rows: repeat(5, 1fr);
}
.post {
	padding: 20px;
	text-align: center;
	border: 1px solid #777;
	border-radius: 5px;
	display: flex;
	align-items: center;
	justify-content: center;
}
.pages {
	display: flex;
	justify-content: center;
	gap: 10px;
}
.page {
	border: 1px solid rgb(26, 22, 228);
	width: 20px;
	height: 15px;
	padding: 4px;
	border-radius: 4px;
	font-size: 12px;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	text-decoration: none;
	color: black;
}
.page-container>.active {
	color: #4dd5ff;
}
.page-container {
	display: flex;
	justify-content: center;
	gap: 10px;
}
.page-container>div {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 30px;
	height: 30px;
	border: 1px solid;
	border-radius: 8px;
	cursor: pointer;
}
.search__item {
	padding: 20px calc(50% - 496px);
	font-size: 28px;
}
.logout {
	cursor: pointer;
	display: block;
	padding: 6px 12px;
	border-radius: 8px;
	border: 1px solid;
}
.img {
	border: 5px;
	padding: 5px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
}
.post_container {
	max-width: 992px;
    width: 95%;
    margin: 0 auto;
    padding: 0 16px;
}
.button {
	margin-bottom: 10px;
}
.postid {
	display: grid;
    grid-template-columns: minmax(400px, 600px) minmax(200px, 350px);
    gap: 5px;
    overflow: hidden;
}
.post_img {
	max-width: 100%;
    width: 1000px;
	vertical-align: middle;
    border-style: none;
}